@font-face {
  font-family: "ArcherPro";
  src: url("../assets/fonts/ArcherPro-Semibold.woff") format("woff"), url("../assets/fonts/ArcherPro-Semibold.otf") format("onetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeagueGothic";
  src: url("../assets/fonts/LeagueGothic/League_Gothic.woff") format("woff"), url("../assets/fonts/LeagueGothic/League_Gothic.ttf") format("truetype"), url("../assets/fonts/LeagueGothic/League_Gothic.eot") format("eot"), url("../assets/fonts/LeagueGothic/League_Gothic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Times New Roman', Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #929292;
  overflow-x: hidden;
}


#main-header{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 50px;
}

main {
  font-family: 'LeagueGothic', Times, serif, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  font-weight: lighter;
  color: #1d1d1d;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  font-size: 2.33em;
}

p {
  // padding-bottom: 0.83rem;
  // line-height: 1.67rem;
  margin: 0 0 5px 0;
}

ul {
  list-style: none;
}

img {
  border: none;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}


nav#main-nav a {
  color: inherit;
}

nav#main-nav a {
  color: #fff;
  &:focus {
      color: #eee4ba;
      font-style: italic;
      text-decoration: none;
      background: url("../assets/images/navigation-link-hover.png");
  }
}

nav#main-nav a:hover {
  color: #eee4ba;
  text-decoration: none;
}

.darkgray {
  color: #929292;
}

.group {
  background: url('../assets/images/home-main-section-background.png') no-repeat 100% 100%;
  background-size: cover;
  height: auto;
  // width: 1300px;
  // width: 100%;
  // margin-left: -50px;
  position:relative;
  justify-content: center;
  // top: -15px;
  
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

.selected {
  color: #437d8b;
  pointer-events: none;
}

.button {
  // float: right;
  // margin-top: -4.75em;
  // padding: 0.17em 0.92em 1.5em 0.75em;
  // border: 1px solid #eaeaea;
  // border-radius: 0.4em;
  // background: #fff;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  // font-size: 1.5em;
  // font-weight: normal;
  // text-align: center;
  // line-height: 1.67em;
}

.active {
  background-color: #f6f6f6;
  pointer-events: none;
}

.img-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  height: auto;
}

.related-links-title {
  margin-bottom: 0.65em;
  font-size: 1.67em;
}

.related-links {
  line-height: 2em;
}

.related-links li {
  background: url("../images/item-bullet.png") no-repeat 0 0.83em;
  padding-left: 1.25em;
}

.no-break {
  display: inline-block;
}

/* Header */

#main-header-section {
  width: 100%;
  background: #452917;
  padding-top: 2em;
  margin: 0;
}

#home-header-section {
  width: 100%;
  height: 253px;
  background: url('../assets/images/main-header-background.png') no-repeat;
  background-size: cover;
  padding-top: 2em;
  margin: 0;
}

#main-header {
  position: relative;
  padding-bottom: 1.5em;
  margin-left: 4em;
  background: url("../assets/images/header.png") no-repeat 100%;
  // width: 1120px;
}

.site-logo {
  margin: 0.3em 5em 0 3em;
}

.logo-img {
//   float: left;
  margin: 0 0.6em 0.8em 0;
}

.site-title {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 2.4em;
  font-family: 'ArcherPro';
  color: #fff;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
}

nav#main-nav > ul > li {
  display: inline-block;
  padding-bottom: 1em;
  font-size: 1em;
  color: #fff;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
}

nav#main-nav > ul > li:not(:last-of-type) {
  margin-right: 1em;
}

nav#main-nav > ul {
  padding-right: 15em;
  margin-top: 0.2em;
}

#footer-nav{
  text-align: center;
  ul {
    li {
      margin: 0 1em 0 0;
      display: inline-block;
      color: #442917;
      &:hover {
        color: #a29d79;
      }
    }
  }
}

#main-nav {
  float: right;
  margin-top: -3.2em;
}

#main-nav > ul {
  margin-right: 0.2m;
}

.btn-sub-menu {
  position: relative;
}

.btn-sub-menu::after {
  color: inherit;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 4em;
  // right: 10em;
  background: url('../assets/images/header-dropdown.png') no-repeat;
  padding: 1em 1.3em;
  z-index: 99;
  // -webkit-border-radius: 0.25em;
  // -moz-border-radius: 0.25em;
  // border-radius: 0.25em;
  li {
    font-style: normal;
  }
}

#btn-mobile-nav:hover .sub-menu{
  display: block;
}

.sub-menu li {
  padding: 0.67em 0;
}

#mobile-nav {
  display: none;
  float: right;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  // font-style: italic;
  // font-size: 1.25em;
  color: #393939;
  z-index: 99;

  a {
  color: #fff;
  text-decoration: none;
    &:focus {
        color: #eee4ba;
        font-style: italic;
        background: url("../assets/images/navigation-link-hover.png");
    }
    &:hover{
        color: #eee4ba;
    }
  }
}

nav#main-nav a:hover {
  color: #eee4ba;
  text-decoration: none;
}

#btn-mobile-nav {
  // display: inline-block;
  // position: absolute;
  padding: 0.2em 1.73em 0.2em 3.53em;
  // border: 1px solid #ececec;
  float: left;
  cursor: pointer;
  // box-shadow: inset 0 0 1px 1px #fff;
  // background: #f9f9f9;
}

.mobile-nav-button {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: auto;
  // background: url("../assets/images/mobile-nav-button.png") no-repeat;
  // background-size: cover;
  top: 1.4em;
  right: 0.5em;
  // left: 1.47em;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-nav > ul {
  // display: none;
  // position: absolute;
    position: absolute;
  // top: 2.87em;
  right: 1em;
  // width: 24.33em;
  // border: 1px solid #ececec;
  // box-shadow: inset 0 0 1px 1px #fff;
  // background: #f9f9f9;
  text-align: center;
}

#mobile-nav ul li {
  display: block;
  margin: 0;
  padding: 0.2em 0;
  font-family: 'Times New Roman', Times, serif;
}

#mobile-user-nav {
  border-top: 3px solid #eaeaea;
}

/* Content */


.content-meta {
  padding-bottom: 2.17em;
}

.crumbs li {
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.17em;
  font-weight: lighter;
  display: inline-block;
  color: #1d1d1d;
}

.crumbs a {
  color: #929292;
}

.crumbs a::after {
  content: "»";
  margin: 0 0.2em 0 0.5em;
}

.content-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  // display: flex;
  // flex-direction: column;
  // margin: 0 -1.25em 0 -1.08em;
  padding: 1.55em 5.6em 1.25em 6.6em;
  background: url("../assets/images/section-header-background.png") no-repeat;
  background-size: cover;
  // border-top: 1px solid #eaeaea;
  // border-bottom: 1px solid #f0f0f0;
  text-align: center;
  line-height: normal;

  h1 {
    font-family: 'Goudy Bookletter 1911';
    color: #654e2d;
    text-align: center;
  }
  p:nth-of-type(2) {
    text-align: center;
    flex-basis: 15%;
  }
}

.container {
  position: relative;
  background: url("../images/container-bg.png") repeat-y 584px 0;
}

.content-description {
  margin-top: -0.2em;
  font-family: 'Goudy Bookletter 1911';
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  color: #b4a48d;
}

.content {
  float: left;
  margin-left: -1px;
  padding: 35px 37px 0 0;
  width: 546px;
}

.content-info {
  margin-bottom: 2.33em;
  padding: 0.6em 0 0.4em;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.25em;
  font-weight: lighter;
  color: #d0d0d0;
}

/* Home */

main {
  display: block;
  background: #452917;
  // border-bottom: 1px solid #ececec;
}

#home-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 -50px;
  padding: 1.75em 0 0.3em 1.92em;
  border-top: 1px solid #e8e8e8;
  background: url("../images/home-nav-bg.png");
  background-size: cover;
  text-transform: uppercase;
}

#slider {
    padding: 0 110px;
}
.slides-wrap {
  position: relative;
  margin: 0 0 0 70px;
}

.slide-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  // left: 22px;
  padding: 1em 2.42em 3.17em 2em;
  width: 400px;
  height: 234px;
}

.slide-title {
  flex-basis: 40%;
  font-family: 'LeagueGothic', 'Times New Roman', Times, serif;
  padding: 0 2.3em 0.2em 0;
  font-size: 4em;
  color: #fff;
}

.slide-img {
  width: 960px;
  height: 370px;
  max-width: 100%;
  max-height: 27.67em;
}

.slide-content {
  flex-basis: 50%;
  // position: relative;
  // bottom: 1em;
  font-family: 'HelveticaBold', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  font-weight: bolder;
  height: 93px;
  // overflow: hidden;
  color: #fff;
  opacity: 1;
}

.button {
  flex-basis: 10%;
  width: 150px;
  height: 200px;
  text-align: center;
  // width: 100%;
  // position: absolute;
  // bottom: -90px;
  // right: 0;
  // border: 0;
  // border-radius: 0;
  background: url('../assets/images/slider-button.png') no-repeat left center;
  background-size: 100% 100%;
  padding: 0.3em 0 0.3em 0;
  margin-top: 1em;
  font-size: 1.6em;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  &:hover {
    color: #eee4ba;
  }
  // color: #7b9297;
}

.slide-top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/slide-top-shadow.png") repeat-x;
  width: 100%;
  height: 4px;
}

.slide-bottom-shadow {
  position: absolute;
  bottom: 4px;
  left: 0;
  background: url("../images/slide-bottom-shadow.png") repeat-x;
  width: 100%;
  height: 4px;
}

.slider-nav a {
  position: absolute;
  top: 50%;
  margin-top: -1.83em;
  width: 3.5em;
  height: 3.67em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  z-index: 99;
  pointer-events: none;
}

.slider-prev {
  left: -0.5em;
  background: url("../images/slider-left-arrow.png");
}

.slider-next {
  right: -0.5em;
  background: url("../images/slider-right-arrow.png");
}

.slider-controller {
  padding: 1.83em 0;
  width: 100%;
  text-align: center;
}

.slider-controller li {
  display: inline-block;
  margin-right: 0.17em;
}

.slider-controller a {
  display: inline-block;
  width: 0.92em;
  height: 0.92em;
  background: url("../images/btn-controller-bg.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.slider-controller .active,
.slider-controller a:hover {
  background: url("../images/btn-active-controller-bg.png");
}

.home-content-header {
  // background: 0;
}

.previews {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 3em;
  display: flex;
  flex-direction: row;
  // padding: 3.83em 0 4.58em;
  flex-wrap: wrap;
  justify-content: center;
}

.previews article:not(:last-child),
.home-related aside:not(:last-child) {
  margin-right: 5.33em;
}

.preview {
  float: left;
  width: 240px;
  flex-basis: 33;
}

.preview-title {
  font-family: 'LeagueGothic';
  color: #cac6a1;
  font-size: 1.75em;
  overflow: hidden;
  text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
}

.chef-menu-item {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  article {
    display: flex;
    flex-direction: column;
  }
}

h4.home-blurbs-title {
      font-family: 'LeagueGothic';
      color: #442917;
      flex-basis: 40%;
      margin-top: 0.05em;
      padding-left: 0.6em;
      font-size: 1.8em;
      text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
}

p.home-blurbs-desc {
      flex-basis: 60%;
      font-family: 'Times New Roman';
      font-style: italic;
      color: #92907c;
      padding-left: 0.9em;
      margin-top: 0.05em;
      line-height: 15px;
      font-size: 1.2em;
      text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
}

.location-article {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img.home-blurbs-img {
    width: 248px;
    height: 169px;
    flex-basis: 70%;
  }
  p.home-blurbs-desc {
    flex-basis: 10%;
      font-family: 'Georgia';
      font-style: normal;
      font-size: 1.2em;
      margin: 0.7em 0 0 0;
      padding: 0;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    h4 {
      flex-basis: 25%;
      font-size: 1.8em;
    }
    h6 {
      flex-basis: 25%;
      padding-top: 0.6em;
      color: #442917;
    }
  }
}

.customer-review-article {
  margin-top: 1.5em;
  background: url('../assets/images/customer-review-container.png') no-repeat;
  width: 260px;
  height: 257px;
  background-size: cover;
  // display: flex;
  // flex-direction: column;

  img {
    margin: 1.8em 1.2em 0.6em 1.8em;
    float: left;
  }

  h4 {
    padding: 1em 0 0 0;
  }

  p {
    line-height: 20px;
    padding: 0 1.2em;
  }

  // p {
  //   flex-basis: 80%;
  // }
}

img.home-blurbs-img {
    width: 65px;
    height: 65px;
    border: 5px solid white;
    outline: 1px solid #e5e2c6;
    outline-offset: 1px;
    -moz-box-shadow:    inset 3px 3px 15px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset 3px 6px 15px rgba(0,0,0,0.5);
   box-shadow:         inset 3px 3px 15px rgba(0,0,0,0.5);
  }

.preview-img-container {
  position: relative;
  margin: 0.4em 0 1.5em;
  padding: 0.25em;
  width: 100%;
  height: 100%;
}

.preview-img,
.media-img {
  border: 0;
}

.preview-img-container:hover .preview-img {
  opacity: 0.5;
}

.preview-hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: -1.67em 0 0 -1.67em;
  width: 3.33em;
  height: 3.41em;
  background: url("../images/preview-hover-icon.png");
  visibility: hidden;
}

.preview-img-container:hover .preview-hover-icon {
  visibility: visible;
}

.preview-content {
  height: 6em;
  overflow: hidden;
}

.home-aside {
  float: left;
  margin-bottom: 1.92em;
}

.home-aside-list {
  width: 20em;
}

#multi-media-bar {
  position: relative;
  border-radius: 0.25em;
  padding: 1.08em 1.17em 1.25em 2.33em;
}

#multi-media-bar,
.media-img-container {
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 11px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0;
  border-right-color: #d1d1d1;
  border-bottom-color: #d1d1d1;
}

.media-img-container {
  position: relative;
  float: left;
  margin-right: 1.42em;
  padding: 0.25em;
  width: 4.5em;
  height: 4.5em;
}

.media-img-container:hover .media-img {
  opacity: 0.75;
}

.media-img-container:hover .media-hover-icon {
  visibility: visible;
}

.media-img-container:hover .media-description {
  display: block;
}

.media-hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: -1.37em 0 0 -1.37em;
  width: 2.75em;
  height: 2.75em;
  background: url("../images/media-hover-icon.png");
  visibility: hidden;
}

.media-hover-video-icon {
  background: url("../images/media-hover-video-icon.png");
}

.media-description {
  display: none;
  position: absolute;
  bottom: 5.25em;
  left: -4.83em;
  width: 11.67em;
  padding: 1.25em 1.25em 0.67em;
  z-index: 99;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid #d1d1d1;
  -moz-border-radius: 0.83em;
  -webkit-border-radius: 0.83em;
  border-radius: 0.83em;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Georgia, serif;
  color: #929292;
  font-style: italic;
}

.media-arrow {
  display: block;
  position: absolute;
  width: 1.17em;
  height: 0.67em;
  bottom: -0.67em;
  left: 6.67em;
  background: url(../images/media-arrow.png) no-repeat;
}

.media-nav a {
  position: absolute;
  top: 50%;
  margin-top: -1.1em;
  width: 2.25em;
  height: 2.25em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  z-index: 99;
  pointer-events: none;
}

.media-prev {
  left: -1em;
  background: url("../images/media-left-arrow.png");
}

.media-next {
  right: -1em;
  background: url("../images/media-right-arrow.png");
}

/* Post */

.post-img-container {
  float: left;
  margin: 0 2.33em 1em 0;
  padding: 0.5em;
  width: 16.67em;
  height: 16.67em;
}

.post-img {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #a0a0a0;
}

.comments {
  margin: 3.5em 0 3.75em;
}

.comments-list {
  margin: 1.83em 0 3.75em;
}

.comment {
  position: relative;
  margin-bottom: 2.25em;
  padding: 1.33em 1em 1.33em 8.33em;
  background: url("../images/comment-bg.png");
  background-size: cover;
}

.author-img-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 1.33em;
  left: 1.33em;
  padding: 0.42em;
  width: 5.67em;
  height: 5.67em;
  border: 1px solid #f0f0f0;
  border-bottom-color: #d1d1d1;
  background: #fff;
}

.author-img {
  width: 100%;
  height: 100%;
}

.author-name {
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.67em;
  font-weight: lighter;
  color: #1d1d1d;
}

.comment-date {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #d4d4d4;
}

.comment-date {
  float: right;
}

.inner-comment {
  position: relative;
  margin-left: 7em;
  border: 1px solid #f0f0f0;
}

.comment-arrow {
  position: absolute;
  bottom: -1.58em;
  right: 3.75em;
  width: 1.5em;
  height: 1.58em;
  background: url("../images/comment-arrow-bg.png");
  background-size: cover;
}

.tb-comment {
  padding: 1em 1.92em;
  border: 1px solid #f0f0f0;
  background: url("../images/comment-bg.png");
  font: 1em 'Droid Sans', Arial, Verdana, sans-serif;
}

.input-tb-comment {
  display: block;
  margin-bottom: 0.83em;
  width: 47.1%;
}

#tb-comment-name {
  margin-top: 1.83em;
}

#tb-comment-message {
  padding-top: 1.83em;
  width: 91%;
  background-size: contain;
}

#btn-comment-send {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3.75em;
  width: 5.92em;
  text-align: center;
}

.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 35px 0 0 41px;
  width: 236px;
}

.sidebar-list {
  margin-bottom: 2.33em;
}

.post-title {
  margin-bottom: 0.19em;
}

.category-post {
  margin-bottom: 8.33em;
}

.category-last-post {
  margin-bottom: 11.67em;
}

.category-content-wrap {
  height: 17em;
  overflow: hidden;
}

.pagination {
  position: absolute;
  bottom: 2.67em;
  right: 315px;
}

.pagination li {
  display: inline-block;
  margin-right: 0.17em;
}

/* Footer */

#main-footer {
  padding: 2.08em 0 1.8em 0;
  // margin: 0 auto;
  background: url('../assets/images/footer.png') no-repeat;
  background-size: cover;
  p {
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 15px;
  }
  p:first-of-type {
    text-align: center;
    .button {
      width: 100px;
      height: 75px;
    }
  }
}

#home-footer {
  padding: 2.88em 0 1.8em 0;
  height: 427px;
  background: url('../assets/images/main-footer-background.png') no-repeat;
  background-size: cover;
  p {
    text-align: center;
  }
  p:first-of-type {
    text-align: center;
    .button {
      width: 100px;
      height: 75px;
    }
  }
  .footer-widgets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #dcd7b1;
    // height: 290px;
    // width: 960px;
    // margin-left: 12.5%;
    .previews {
      .preview:first-of-type {
        margin-top: -0.6em;
        .preview-title {
          text-align: center;
        }
      }
      .preview {
        ul {
          list-style-image: url('../assets/images/footer-bullet.png');
          li {
            line-height: 2.4em;
          }
        }
      }
    }
    .footer-title {
      color: #442917;
      font-size: 2.4em;
      font-family: 'ArcherPro';
      display: inline-block;
      text-align: left;
    }
    .footer-copyright {
      font-size: 0.9em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
      text-align: start;
    }
    .footer-description {
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: start;
      color: #442917;
    }
  }
  .footer-horizontal-line {
    height: 1px;
    color: #dcd7b1;
    background-color: #dcd7b1;
    border: none;
  }
  #footer-nav {
    ul {
      margin-top: 2em;
    }
  }

}


// .footer-col {
//   float: left;
//   width: 15em;
//   margin: 1em 3.83em 1em 0;
//   overflow: visible;
// }

// .footer-col:nth-of-type(4) {
//   margin: 0;
// }

// .footer-col .related-links {
//   line-height: 1.67em;
// }

// .footer-col .related-links-title {
//   margin-bottom: 0.75em;
// }

// .footer-col .related-links li {
//   margin-bottom: 0.42em;
//   background-position-y: 0.58em;
// }

.footer-copyright {
  clear: both;
  padding-top: 0.2em;
  text-align: center;
  font-style: italic;
  color: #92907c;
}

.copyright-link {
  color: #686650;
  &:hover {
    color: #a29d79;
  }
}

#wrapper {
  background-image: url('../assets/images/main-background.png');
  background-size: cover;
  height: 100%;


  .previews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .preview {
      margin-right: 9em;
    }
  }

  .location-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
    .location-address {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-basis: 25%;
      div {
        margin-bottom: 3em;
      }
      .location-info {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #442917;
        font-size: 1.2em;
        flex-basis: 33;
        &:first-of-type{
          width: 60%;
        }
        span {
          font-family: Georgia, 'Times New Roman', Times, serif;
          color: #92907c;
          font-size: 0.8em;
          text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
        }
      }
    }
    .location-map {
      width: 50%;
      background-color: white;
    }
  }
}

.quote {
    background: url('../assets/images/quote-background.png') no-repeat;
    width: 100%;
    // background-image: cover;
    // width: 1400px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      flex-basis: 5%;
    }
}

.page-title {
  position: absolute;
  left: 190px;
  top: 130px;
  color: #fff;
  font-size: 5em;
  font-family: 'LeagueGothic';
}

.page-description {
  position: absolute;
  left: 190px;
  top: 190px;
  color: #dacba7;
  font-size: 1em;
  font-weight: bolder;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
  font-family: 'HelveticaBold', Helvetica, Arial, sans-serif;
}

.page-navigation {

  font-family: 'Goudy Bookletter 1911';
  color: #b4a48d;
  text-decoration: none;
  padding: 2.4em 0 0 0;
  flex-basis: 15%;
  &:hover, &:focus {
    text-decoration: none;
    color: #766255;
  }
}

.search-input {
  background: url('../assets/images/input-background.png') no-repeat;
  background-color: transparent;
  border: 0px solid;
  margin-top: 1.3em;
  padding: 1.8em 2em 2em 2em;
  height: 39px;
  width: 171px;
  font-size: 0.9em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0 1.1px rgba(255, 255, 255, 1), 1.1px 0 rgba(255, 255, 255, 1);
  text-align: start;
  font-style: italic;
  // flex-basis: 25%;
  &:focus {
    outline: none;
  }
  // -webkit-box-shadow: 4px 9px 33px -9px rgba(0,0,0,0.75);
  // -moz-box-shadow: 4px 9px 33px -9px rgba(0,0,0,0.75);
  // box-shadow: 4px 9px 33px -9px rgba(0,0,0,0.75);

}

.search-button {
  background: url('../assets/images/search-button.png');
  width: 87px;
  height: 37px;
  border: none;
  margin-top: 0.9em;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.3em;
  &:focus {
    outline: none;
  }
}

/* Responsive */

@media only screen and (min-width: 961px) {
  body {
    overflow-x: hidden;
  }

  #main-header {
    margin-left: 15em;
  }
  
  .site-logo {
    margin: 0.3em 5em 0 -3em;
    width: 900px;
  }

  #slider {
    padding: 0 110px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 960px) {
  #main-header {
    margin-left: 10em;
  }

  #main-nav,
  .additional-info,
  #home-header,
  .home-aside,
  .sidebar,
  .footer-col {
    display: none;
  }

  #mobile-nav {
    display: inline-block;
  }

   #slider {
    padding: 0 50px;
  }


  .preview {
      justify-content: center;
  }

  .site-logo {
    margin: 0.3em 5em 0 -3em;
    width: 430px;
  }

  .logo-img {
  //   float: left;
    margin: 0 0.6em 0.8em 0;
  }

  .slide-description {
    height: 220px;
    top: 25px;
  }

  .slide-content {
    height: 66px;
  }

  .home-aside-list {
    display: none;
  }

  .content-header {
    margin: 0 -50px;
    padding-left: 5.5em;
    padding-right: 7.5em;
  }

  .container {
    background-position: 506px 0;
  }

  .content {
    margin-left: -18px;
    width: 487px;
  }

  .sidebar {
    margin-right: -50px;
    padding-left: 37px;
    width: 155px;
  }

  .pagination {
    right: 175px;
  }

  .footer-col:nth-of-type(3) {
    margin-right: 0;
  }

  .footer-col:nth-of-type(4) {
    clear: both;
  }

  #home-footer {
    .preview:nth-of-type(2), .preview:nth-of-type(3) {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  // main,
  // #main-header{
  //   width: 460px;
  // }

  .customer-review-article {
      margin-left: -1.8em;
  }

  #main-header {
    margin-left: 10em;
    text-align: center;
    padding-left: 0;
  }

  #main-nav,
  .additional-info,
  #home-header,
  .slide-description,
  .home-aside,
  .sidebar,
  .footer-col {
    display: none;
  }

  #home-footer {
    .preview:nth-of-type(2), .preview:nth-of-type(3) {
      display: none;
    }
  }

  #mobile-nav {
    display: inline-block;
  }

  .site-logo {
    margin: 0.3em 0.5em;
    width: 230px;
  }

  .content-header {
    margin: 0 -50px;
    padding-left: 3.5em;
    padding-right: 4.5em;
  }

  .group {
    height: auto;
  }

  .previews {
    justify-content: center;
  }

  .preview {
    justify-content: center;
  }

  .preview-title,
  .post-title {
    text-align: center;
  }

  .content-info {
    margin: 0 -2em 1em;
    padding: 0.6em 2em 0;
  }

  .container {
    margin-left: -20px;
    width: 404px;
  }

  .content {
    width: 100%;
  }

  .pagination {
    right: 0;
  }

  #tb-comment-message {
    width: 88%;
  }

  .footer-copyright {
    padding: 0;
  }

  #slider,
  .post-img-container,
  .author-img-container {
    display: none;
  }

}

@media only screen and (max-width: 479px) {
  // main,
  // #main-header{
  //   width: 300px;
  // }

  #main-header {
    margin-left: 7em;
  }
  
  .customer-review-article {
      margin-left: -2.5em;
  }

  .content-header {
    // overflow-x: hidden;
    margin: 0 -30px;
    padding-left: 7em;
    padding-right: 7.5em;
    padding-bottom: 2.5em;
  }
  

  // #mobile-nav ul {
  //   width: 240px;
  //   left: -40px;
  // }
  #home-footer {
    .preview:nth-of-type(2), .preview:nth-of-type(3) {
      display: none;
    }
  }
  #slider,
  .post-img-container,
  .author-img-container {
    display: none;
  }

  .preview {
    justify-content: center;
  }

  .previews {
    justify-content: center;
  }

  .container {
    width: 244px;
  }

  #tb-comment-message {
    width: 81%;
  }

  .comment {
    padding-left: 1em;
  }

  // #main-footer {
  //   padding-left: 2.08em;
  //   padding-right: 2.08em;
  // }

  .footer-copyright {
    text-align: center;
    margin-top: -0.5em;
  }

  #footer-nav{
  text-align: center;
  ul {
    li {
      margin-top: -3em;
      }
    }
  }
}
