
        <!-- <p><a href="#/menu" class="button">Menu</a></p> -->
        <p class="footer-logo"><img src="./assets/images/footer-logo.png" alt="footer-logo"></p>
        <nav id="footer-nav" role="navigation">
            <ul>
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/menu">MENU</a></li>
                <li><a href="#/location">LOCATION</a></li>
            </ul>
        </nav>
        <div class="footer-copyright">
            <p>Designed by <a href="http://www.elegantthemes.com/" title=" Ultimate WordPress Toolkit For Web Design" class="copyright-link">ElegantThemes</a>                - Powered by <a href="https://bg.wordpress.org/" class="copyright-link">WordPress</a></p>
        </div>
