<section id="main-header-section">
        <header id="main-header">
            <div class="site-logo">
                <img src="./assets/images/header-logo.png" alt="Site logo" class="logo-img">
                <span href="#/home" class="site-title">islandsushi</span>
            </div>
            <nav id="main-nav" role="navigation">
                <ul>
                    <li><a href="#/home">HOME</a></li>
                    <li><a href="#/menu">MENU</a></li>
                    <li><a href="#/location">LOCATION</a></li>
                </ul>
            </nav>
            <nav id="mobile-nav" role="navigation">
                <div id="btn-mobile-nav"><img src="./assets/images/mobile-nav-button.png" alt="sushi-button" class="mobile-nav-button"></div>
                <ul class="sub-menu">
                    <li><a href="#/home">HOME</a></li>
                    <li><a href="#/menu">MENU</a></li>
                    <li><a href="#/location">LOCATION</a></li>
                </ul>
            </nav>
        </header>
</section>