<section id="wrapper">
    <div class="quote">
        <h2 class="page-title"> LOCATION </h2>
        <p class="page-description"> You had me at sushi. </p>
        <a href="#/menu" class="page-navigation"> » LOCATION </a>
        <span></span>
        <input type="text" class="search-input" placeholder="Search this website...">
        <button class="search-button"> Search </button>
    </div>
    <div class="location-view">
        <article class="location-address">
            <div>
                <h2 class="preview-title">ADDRESS</h2>
                <p class="location-info">3324 Sunny Drive Street
                Some City CA, 33423</p>
            </div>
            <div>
                <h2 class="preview-title">HOURS OF OPERATION</h2>
                <p class="location-info">MONDAY-FRIDAY: <span>8am-10pm</span></p>
                <p class="location-info">SATURDAY-SUNDAY: <span>10am-8pm</span></p>
            </div>
            <div>
                <h2 class="preview-title">CONTACT INFO</h2>
                <p class="location-info">EMAIL ADDRESS: <span>info@mycuisine.com</span></p>
                <p class="location-info">TELEPHONE: <span>754-234-6643</span></p>
                <p class="location-info">FAX: <span>343-664-2234</span></p>
            </div>
        </article>
        <article class="location-map">
            
        </article>
    </div>
</section>