<div class="footer-widgets-container">
            <hr align="center" class="footer-horizontal-line" />
            <div class="previews">
                <article class="preview">
                    <img src="./assets/images/footer-logo-2.png" alt="Site logo" class="logo-img">
                    <h2 class="footer-title">islandsushi</h2>
                    <p class="footer-copyright">
                        © MyCuisine Theme, 2010
                    </p>
                    <p class="footer-description">
                        Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum.
                        Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper
                        ut commodo nunc. Mauris suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis
                        accumsan nulla
                    </p>
                </article>
                <article class="preview">
                    <h2 class="preview-title">RECENT COMMENTS</h2>
                    <ul>
                        <li class="footer-description">Rhoncus quis varius sed velit nibh moles</li>
                        <li class="footer-description">Mauris quis nunc eu nunc molestie</li>
                        <li class="footer-description">Egestas et sit amet odio morbi quis nunc</li>
                        <li class="footer-description">Lacinia velit in nibh sodales sed quis nunc </li>
                        <li class="footer-description">Pharetra sem feugiat nibh sodales sed </li>
                        <li class="footer-description">Vivamus ut cursus augue nibh sodales sed </li>
                    </ul>
                </article>
                <article class="preview">
                    <h2 class="preview-title">RECENT POSTS</h2>
                    <ul>
                        <li class="footer-description">Rhoncus quis varius sed velit nibh moles</li>
                        <li class="footer-description">Mauris quis nunc eu nunc molestie</li>
                        <li class="footer-description">Egestas et sit amet odio morbi quis nunc</li>
                        <li class="footer-description">Lacinia velit in nibh sodales sed quis nunc </li>
                        <li class="footer-description">Pharetra sem feugiat nibh sodales sed </li>
                        <li class="footer-description">Vivamus ut cursus augue nibh sodales sed </li>
                    </ul>
                </article>
            </div>
        </div>
        <nav id="footer-nav" role="navigation">
            <ul>
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/menu">MENU</a></li>
                <li><a href="#/location">LOCATION</a></li>
            </ul>
        </nav>
        <div class="footer-copyright">
            <p>Designed by <a href="http://www.elegantthemes.com/" title=" Ultimate WordPress Toolkit For Web Design" class="copyright-link">ElegantThemes</a>                - Powered by <a href="https://bg.wordpress.org/" class="copyright-link">WordPress</a></p>
        </div>