<section id="wrapper">
    <div class="quote">
        <h2 class="page-title"> MENU </h2>
        <p class="page-description"> Stimulate your senses. Inspire your soul. </p>
        <a href="#/menu" class="page-navigation"> » MENU </a>
        <span></span>
        <input type="text" class="search-input" placeholder="Search this website...">
        <button class="search-button"> Search </button>
    </div>
    <div class="previews">
        <article class="preview">
            <h2 class="preview-title">CHEF'S RECOMMENDATIONS</h2>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
        </article>
        <article class="preview">
            <h2 class="preview-title">CHEF'S RECOMMENDATIONS</h2>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
        </article>
        <article class="preview">
            <h2 class="preview-title">CHEF'S RECOMMENDATIONS</h2>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
            <div class="chef-menu-item">
                <img class="home-blurbs-img" src="http://www.sushishop.com/themes/web/assets/files/menuitem/philly-kunsei-syake-nigiri.png" alt="syake-nigiri">
                <article>
                    <h4 class="home-blurbs-title"> Philly Kunsei Syake Nigiri </h4>
                    <p class="home-blurbs-desc">
                        Smoked salmon, light cream cheese, avocado
                    </p>
                </article>
            </div>
        </article>
    </div>
</section>